/.env.local
/.env.local.php
/.env.*.local
/.idea/
/docker/mysql/data
/docker/mysql/logs
/docker/nginx/logs
/docker/php-fpm/logs
/docker/supervisor/logs
/var/
/node_modules/
/public/files/
/public/sitemap.xml

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
